@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: #000000;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav__item {
  color: white;
  padding: 1rem;
  font-family: "Inter", regular;
}

.button {
  padding: 1rem 2rem;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0.25rem;
  cursor: pointer;
}

.button--base {
  color: white;
}

.button--base:hover {
  transform: scale(1.1);
}

.button--download {
  background-color: #d9d9d9;
  color: #000000;
  border-radius: 3rem;
  transition: transform 0.3s ease-in-out;
  font-family: "Fredoka", regular;
}

.button--download:hover {
  transform: scale(1.1);
}

.hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-around;
  width: 100%;
}

.hero__title {
  grid-column: span 2;
  align-self: center;
  text-align: center;
  font-family: "Fredoka", regular;
  font-size: 3rem;
}

.hero__highlight {
  color: rgb(217, 1, 171);
  background: linear-gradient(
    90deg,
    rgba(217, 1, 171, 1) 0%,
    rgba(74, 19, 140, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero__img {
  grid-column-start: 3;
  height: auto;
  display: flex;
  justify-content: center;
}

.hero__img img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10%;
}

.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-around;
  margin: 1rem;
  text-align: center;
}

.step {
  text-align: center;
  margin-top: 1rem;
  border-radius: 3rem;
}

.step__line {
  height: 3px;
  background-color: gray;
  margin-bottom: 10px;
  text-align: center;
}

.step__small-text {
  font-family: "Inter", regular;
  font-size: 1rem;
  color: gray;
  margin: 1rem;
}

.step__main-text {
  font-family: "Fredoka", regular;
  font-size: 2rem;
  margin: 1rem;
}

.footer {
  color: #afaeb2;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

body *::selection {
  background-color: white !important;
  color: #5421ef !important;
  clip-path: inset(8px round 8px) !important;
}

/*TODO: Setup a clean grid and fix the centering problem*/
